.conocenos {
    display: flex;
    flex-direction: row;
}
  
.enganche {
    width: 899px;
    position: relative;
    display: grid;
    grid-template-columns: 47% 53%;
    &__articulo {
      grid-column: 1;
    }
    &__bloque-celeste {
      background-color: $blue;
      width: 100%;
      height: 250px;
      position: absolute;
      grid-column: 2;
      display: flex;
    }
  
    &__imagen {
      width: 380px;
      height: 230px;
      position: relative;
      top: 30px;
      left: -20px;
    }
}
  
.imagenes-varias {
    max-width: 40%;
    position: relative;
  
    &__big {
      max-width: 100%;
      object-fit: contain;
    }
  
    &__small {
      position: absolute;
      left: -50px;
      width: 100px;
      height: 200px;
      object-fit: cover;
    }
}
  
.articulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px;
  
    &__titulo {
      font-size: $x-large;
      margin-bottom: 10px;
    }
  
    &__parrafo {
      font-size: medium;
    }
}