$roboto_font: "Roboto", sans-serif;
$pi_mono_font: "PT Mono", monospace;

$black: #000;
$white: #fff;
$coral: #f1dd7b;
$flame: #e4572e;
$shamrock: #4ca866;
$turquoise: #40e0d0;
$blue: #3c91e6;
$spanish-gray: #989898;
$quick-silver: #a6a6a6;

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
